## Pandas

In [1]:
import pandas as pd

## Series

In [19]:
ser = pd.Series([1,2,3,4])
ser.name = 'Num'
ser

0    1
1    2
2    3
3    4
Name: Num, dtype: int64

In [3]:
arr = pd.array([1,2,3])
arr

<IntegerArray>
[1, 2, 3]
Length: 3, dtype: Int64

In [13]:
ser.index = [ "a" , "b" , "c" , "d"]
print(ser)

print(ser["a"])

a    1
b    2
c    3
d    4
Name: Num, dtype: int64
1

## Dataframes

In [ ]:
dat = pd.DataFrame({
    "name" : [ "std1" , "std2" , "std3"],
    "marks" : [ 100 , 90 , 80]
})
dat

   name  marks
0  std1    100
1  std2     90
2  std3     80

## Importing CSV files

In [6]:
df = pd.read_csv("./csv/color.csv")
df

     Name      HEX               RGB
0   White  #FFFFFF  rgb(100,100,100)
1  Silver  #C0C0C0     rgb(75,75,75)
2    Gray  #808080     rgb(50,50,50)
3   Black  #000000        rgb(0,0,0)
4     Red  #FF0000      rgb(100,0,0)
5  Maroon  #800000       rgb(50,0,0)
6  Yellow  #FFFF00    rgb(100,100,0)
7   Olive  #808000      rgb(50,50,0)
8    Lime  #00FF00      rgb(0,100,0)
9   Green  #008000       rgb(0,50,0)

In [34]:
df = pd.read_csv("./csv/color.csv")
df

     Name      HEX               RGB
0   White  #FFFFFF  rgb(100,100,100)
1  Silver  #C0C0C0     rgb(75,75,75)
2    Gray  #808080     rgb(50,50,50)
3   Black  #000000        rgb(0,0,0)
4     Red  #FF0000      rgb(100,0,0)
5  Maroon  #800000       rgb(50,0,0)
6  Yellow  #FFFF00    rgb(100,100,0)
7   Olive  #808000      rgb(50,50,0)
8    Lime  #00FF00      rgb(0,100,0)
9   Green  #008000       rgb(0,50,0)

In [38]:
df.head()

     Name      HEX               RGB
0   White  #FFFFFF  rgb(100,100,100)
1  Silver  #C0C0C0     rgb(75,75,75)
2    Gray  #808080     rgb(50,50,50)
3   Black  #000000        rgb(0,0,0)
4     Red  #FF0000      rgb(100,0,0)

In [39]:
df.tail()

     Name      HEX             RGB
5  Maroon  #800000     rgb(50,0,0)
6  Yellow  #FFFF00  rgb(100,100,0)
7   Olive  #808000    rgb(50,50,0)
8    Lime  #00FF00    rgb(0,100,0)
9   Green  #008000     rgb(0,50,0)

In [40]:
df.describe()

         Name      HEX               RGB
count      10       10                10
unique     10       10                10
top     White  #FFFFFF  rgb(100,100,100)
freq        1        1                 1