## Data Cleansing

In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('./csv/color2.csv')
df    # Here there will be NAN if some values are missing

     Name      HEX               RGB
0   White  #FFFFFF  rgb(100,100,100)
1  Silver  #C0C0C0     rgb(75,75,75)
2    Gray      NaN     rgb(50,50,50)
3   Black  #000000        rgb(0,0,0)
4     Red  #FF0000      rgb(100,0,0)
5  Maroon  #800000               NaN
6  Yellow  #FFFF00    rgb(100,100,0)
7     NaN  #808000      rgb(50,50,0)
8    Lime  #00FF00      rgb(0,100,0)
9   Green  #008000       rgb(0,50,0)

In [6]:
# Removing Nan Values

df.dropna()

     Name      HEX               RGB
0   White  #FFFFFF  rgb(100,100,100)
1  Silver  #C0C0C0     rgb(75,75,75)
3   Black  #000000        rgb(0,0,0)
4     Red  #FF0000      rgb(100,0,0)
6  Yellow  #FFFF00    rgb(100,100,0)
8    Lime  #00FF00      rgb(0,100,0)
9   Green  #008000       rgb(0,50,0)

In [8]:
# Replacing Nan vlaues with something else
df.fillna(0)

     Name      HEX               RGB
0   White  #FFFFFF  rgb(100,100,100)
1  Silver  #C0C0C0     rgb(75,75,75)
2    Gray        0     rgb(50,50,50)
3   Black  #000000        rgb(0,0,0)
4     Red  #FF0000      rgb(100,0,0)
5  Maroon  #800000                 0
6  Yellow  #FFFF00    rgb(100,100,0)
7       0  #808000      rgb(50,50,0)
8    Lime  #00FF00      rgb(0,100,0)
9   Green  #008000       rgb(0,50,0)

In [ ]:
df.rename( columns= {"Name": "Color"}) # changes name of column but not in the original dataframe

    Color      HEX               RGB
0   White  #FFFFFF  rgb(100,100,100)
1  Silver  #C0C0C0     rgb(75,75,75)
2    Gray      NaN     rgb(50,50,50)
3   Black  #000000        rgb(0,0,0)
4     Red  #FF0000      rgb(100,0,0)
5  Maroon  #800000               NaN
6  Yellow  #FFFF00    rgb(100,100,0)
7     NaN  #808000      rgb(50,50,0)
8    Lime  #00FF00      rgb(0,100,0)
9   Green  #008000       rgb(0,50,0)

In [ ]:
df.rename( columns={ "Name" : "Color" } , inplace= True)  # changes the name in original dataframe
df

    Color      HEX               RGB
0   White  #FFFFFF  rgb(100,100,100)
1  Silver  #C0C0C0     rgb(75,75,75)
2    Gray      NaN     rgb(50,50,50)
3   Black  #000000        rgb(0,0,0)
4     Red  #FF0000      rgb(100,0,0)
5  Maroon  #800000               NaN
6  Yellow  #FFFF00    rgb(100,100,0)
7     NaN  #808000      rgb(50,50,0)
8    Lime  #00FF00      rgb(0,100,0)
9   Green  #008000       rgb(0,50,0)

In [13]:
df["Color"][1]

'Silver'

In [ ]:
df = pd.array([ [1 ,2,3],[2,4,2]])
print(df[1,1])

2